.main-conatainer {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.title{
    text-align: center;
}

.submit-style{
    margin: auto;
    text-align: center;
    font-size: 50px;
    color: green;

}
